---
---

@import "{{ site.theme }}";

#header {
    position: unset;
    background-image: url(../../img/header.png);
    background-size: cover;
    height: 240px;
  }

  #post-header {
    position: unset;
    background-size: cover;
    height: 40px;
    background-color: #666666;
  }